@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,500;1,900&display=swap');


html{
  font-family: 'Montserrat', 'Exo 2', sans-serif;
  font-size: 10px;
}

body {
  background: black;
}
  
  .no-scroll
  { overflow: hiden;}
  
  [class~="no-scroll"] {
   overflow: hiden;
  }


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* container aligns */

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1200px;
  height: 100%;
}

/* Main section */
.main{
/* display: grid;
 grid-template-areas: 
 "intro skills about_me price"
 "portfolio feedback form-site seo";
 grid-template-rows: 5fr 5fr;
 grid-template-columns: 5fr 5fr;*/
 background: black;
}


/* FedBack content */

.feedback-section{
 height: 100%;
 grid-area: feedback;
}

.feedback-content a{
 text-decoration: none;
 margin-bottom: 10px;
 font-size: 15px;
 color: red;
}
.feedback-content{
 margin-top: 15px;
 margin-bottom: 15px;
 color: white;
 background: #8A9806;
}
.feedback-content p{
 padding: 20px;
 color: #C8F8E4F7;
 font-size: 15px;
}
.feedback-content h3 {
 font-size: 40px;
 color: black;
 
}

/* section Price "how i work" */

.price-section {
 font-weight: 500;
 grid-area: price;
}

.price-box{
 width: 100%;
 padding: 10px;
 background-color: var(--main-color) ;
 margin-top: 20px;
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
 
}

.price-item li {
 list-style-type: none;
 color: red;
}

 .price-item li:before{
  padding-right: 5px;
  color: #591E59;
  content:"■";
  width: 10px;
  height: 10px;
  
 }

.price-section h3 {
 padding: 10px;
 font-weight:900;
 color:#FFF;
 font-size: 40px;
}

.price-section p {
 margin: 25px;
 font-weight:900;
 color: #591E59 ;
 font-size: 25px;
}
.price-section li {
 margin-left:5px;
 color: black;
 letter-spacing: 0.1px;
 font-size: 20px;
 line-height: 30px;
}

/* main Intro content */

.intro {
 height: 380px;
 width: 100%;
 display: grid;
 grid-template-areas: 
 "text photo";
 grid-template-rows: 5fr 5fr;
 grid-template-columns: 5fr 5fr;
 margin-top: -50px;
}

.intro{
 height: 430px;
  border-bottom: 2px solid var(--main-color);
 /*background-image: url(fonmain39.png);
 background-size: 450px 450px;*/
  background: radial-gradient(#0D2238, black);
 
}
.intro__content{
  position: absolute;
  z-index: 2;
  grid-area: text;
  margin-top: 230px;
}
.intro__photo{
 position: relative;
 z-index: 1;
 grid-area: photo;
 margin-top: 0px;
 margin-right: 0px;

}
.main-foto{
 margin-right: 0px;
 margin-top: 35px;
 width: 250px;
 right: 0;
 bottom: 0;
}
  @media screen and (max-width: 12px){
    .intro__content{
      margin-left: -50px;
      position: absolute;
    
    }
    .intro__photo{
      margin-right: -50px;
    }
    
    html {
      font-size: 8px;
    }
  }
  
  .adaptive{
    width: 100%;
    margin-top: 30px;
  }
  
  .text-intro_hi, .text-intro_red, .text-intro_design {
    line-height: 41px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 5px;
    white-space: nowrap;
  }
  .text-intro_red{
    width: 14ch;
    font-size: 40px;
    color: black;
    background-color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid orange;
    animation: flashing 0.75s step-end infinite, text-print 5s steps(14); /*animation: flashing 0.75s step-end infinite, text-unprint 4s steps(14);*/
  }
  
  @keyframes flashing {
   0% {
   border-color: orange ;
   }
   50% {
    border-color: transparent ;
   }
   100% {
    border-color: orange;
   }
  }
  @keyframes text-unprint{
   from {width: 14ch;}
   to   {width: 0ch;}
   
  }
  
  @keyframes text-print{
   from { width: 0ch; }
   to  {  width: 14ch; }
  }
  
  .text-intro_gray{
    color:gray;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    padding-bottom: 5px; 
  }
  
/* icon header */

  .icon-main a:hover {
    transform: translateY(-5px);
    color: #00F4FF;
  }
  .icon-main a {
  transition: 0.4s;
  text-decoration: none;
  color: white;
  letter-spacing: 3rem;
  font-size: 22px;
  }
  .icon-main{
    text-align: right;
    margin-right: 70px;
    margin-top: 18px;
  }
 
    .text-dev {
      padding-top: 15px;
      padding-left: 0px;
      font-size: 3rem;
      text-align: center;
      color: lightgray;
      
    }
    
   .text-{
     margin-top: 20px;
     margin-bottom: 50px;
     letter-spacing: 0.5rem;
     font-size: 4rem; 
     font-weight: 900; 
     text-align: center; 
     color: white; 
     background: #0BAB68;
   }


.wrapper {
  position: relative;
  overflow: hidden;
  z-index: 100;
  
}
.fab {
  color: #038F95;
}

.menu {
  position: fixed;
  right: 0; top: 0;
  z-index: 99;
  width: 70%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient( to bottom, var(--ground-color), #085E88);
  transition: 0.5s;
  transform: translateX(100%);
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.menu-list a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
}
.menu-btn {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius:50%;
  position: absolute;
  left: -40px;
  top: 12px;
}
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
.content_active {
  transform: translateX(30%);
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after
{
  display: block;
  background-color: white;
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
}

.menu-btn:before,
.menu-btn:after {
  content: '';
  display: block;
  transition: 0.3s;
}

 .menu-btn:before
 {
   transform: translateY(5px);
 }

.menu-btn:after {
  transform: translateY(-5px);
}
.menu-btn_active span{
  height: 0;
}
.menu-btn_active:before{
  transform: rotate(45deg);
  
}

.menu-btn_active:after{
  transform: rotate(-45deg);
}


 :root{
  
   --main-color: #088f95;
   --bar-color: #088f95;
   --footer-color: #03323B;
   --ground-color: #03434C;
   --text-color: #96C2CA;
   --decor-color: #088f95;
 }
 
 /* section Skills */
  
 .skills-section {
  margin-top:-30px;
 }
 
 .skill-box {
  background: black;
  width: 100%;
  height: 400px;
  margin-top: 30px;
 }
 
 .my-skills{
   width: 300px;
   margin: 0 auto;
   margin-top: 10px;
   margin-bottom: 100px;
 }
 
 .single-bar{
   width: 280px;
   height: 20px;
   border-radius: 5px;
   background-color: gray;
   margin: 14px 0px;
   
 }
 
 
 .progres-bar{
   width: 280px;
   height: 20px;
   border-radius: 5px;
   background-color: gray;
   margin: 14px 0px;
 }
 
 .progress-1{
   display: flex;
   justify-content: center;
   padding-top: 0px;
   width: 260px;
   height: 20px;
   background-color: var(--bar-color);
   border-radius:5px;
   transition: 1s;
   animation: bar1 3s ;
 }
  
 .progress-2{
   display: flex;
   justify-content: center;
   padding-top: 0px;
   width: 260px;
   height: 20px;
   background-color: var(--bar-color);
   border-radius:5px;
   animation: bar2 3s;
 }
  
 .progress-3{
   display: flex;
   justify-content: center;
   padding-top: 0px;
   width: 240px;
   height: 20px;
   background-color: var(--bar-color);;
   border-radius:5px;
   animation: bar3 3s;
 }
  .progress-4 {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    width: 200px;
    height: 20px;
    background-color: var(--bar-color);;
    border-radius: 5px;
    animation: bar4 3s;
  }
   .progress-5 {
     display: flex;
     justify-content: center;
     padding-top: 0px;
     width: 240px;
     height: 20px;
     background-color: var(--bar-color);;
     border-radius: 5px;
     animation: bar3 3s;
   }
   
    .progress-6 {
     display: flex;
     justify-content: center;
     padding-top: 0px;
     width: 240px;
     height: 20px;
     background-color: var(--bar-color);;
     border-radius: 5px;
     animation: bar5 3s;
   }
   
     .progress-7 {
     display: flex;
     justify-content: center;
     padding-top: 0px;
     width: 260px;
     height: 20px;
     background-color: var(--bar-color);;
     border-radius: 5px;
     animation: bar2 3s;
   }
 
 
 .bar-text{
  align-items: center;
   font-size: 19px;
   margin-bottom: 3px;
   font-weight: 900;
 }
 
 @keyframes bar1 {
   0%{
     width: 0px;
   }
   100%{
     width: 260px;
   }
 }
 @keyframes bar2 {
   0%{
     width:0px;
   }
   100%{
     width: 260px;
   }
 }
 @keyframes bar3 {
   0%{
     width: 0px;
   }
   100%{
     width:240px;
   }
 }
  @keyframes bar4 {
    0% {
      width: 0px;
    }
 
    100% {
      width: 200px;
    }
  }
   @keyframes bar5 {
     0% {
       width: 0px;
     }
  
     100% {
       width: 240px;
     }
   }
  /* case section */
  .case-section{
   height: 100%;
  }
  .case-content {
   background-color: #0BAB6870;
  }
  .case-text{
   background: green;
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   padding: 10px;
  }
  
  .fotorama {
   padding: 20px;
   display: flex;
   justify-content: center;
  }
  
  
  /* footer */
  
   .footer-icon {
    margin-top: 10px;
    grid-area: icon;
    display: flex;
   }
   .footer-icon a{
    font-size: 25px;
    letter-spacing: 25px;
    text-decoration: none;
    color: #0783B7;
   }
   .footer-links{
    grid-area: links;
    display: flex;
    flex-direction: column;
   }
   .footer-link{
    margin-left: 10px;
    margin-top: 10px;
    line-height: 15px;
    font-size: 15px;
    color: #0783B7;
    text-decoration: none;
    font-weight: 500;
   }
   

   footer {
    margin-top: 30px;
   }
   .footer{
     display: grid;
     justify-content: space-between;
     grid-template-areas:
     "links icon"
     "links text";
     grid-template-rows: 5fr 0.5fr;
     grid-template-columns: 5fr auto;
     
     width: 100%;
     height: 200px;
     background-color: var(--footer-color);
   }
 .text-footer{
   grid-area: text;
   color: #FFFFFF;
   font-size: 10px;
   letter-spacing: 2px;
   text-shadow: 5px;
 }
 
 /* buttons want bay */
 
 .btn-bay{
   margin-left: -10px;
   margin-top: 30px;
   width: 100%;
   display: flex;
   justify-content: center;
 }
 .btn-bay a {
  padding-top: 7px;
  font-weight: 900;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
 }
 
.btn-neon {
  font-size: 25px;
  font-weight: 900;
  width: 280px;
  height: 47px;
  border: none;
  border: 1px solid  var(--decor-color);
  outline: none;
  color:  var(--decor-color) ;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 7px;
  box-shadow: 0px 0px 12px #0BE4FF;
}
  
  .btn-neon:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-neon:active {
  color: #F1FF07B8;
}

.style {
  color:  var(--main-color);
  width: 200px;
  height: 200px;
}


.btn-neon:active:after {
  background: transparent;
}

.btn-neon:hover:before {
  opacity: 1;
}

.btn-neon:after {
  z-index: -1;
  opacity: 1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Form modal */
   
.form-site-section {
 padding-top: 15px;
 background-color: #4e36c8;
 padding-bottom: 20px;

 
}
  .form-text{
     text-align: left; 
     color: whitesmoke;
     font-size: 3rem;
     padding-left:20px;
   }

        .up-text{
          color: red;
        }

        .flag {
    padding:0;
    list-style: none;
}
 .flag{
    padding:6px;
}
.flag:before {
    padding-right: 11px;
    font-weight: bold;
    color: red;
    content: "□";
    transition-duration: 0.4s;
}
 .flag:hover:before {
    color: red;
  
    content:"■";
}   
        .flag {
        padding:0;
        list-style: none;
        }
 
       .flag-list{
          
          list-style-type: square;
          margin-left: 30px;
          margin-top: 15px;
          margin-bottom: 15px;
          color: white;
          font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 1rem;
        }
  
     /* button want price */
        
        .btn-sells {
          display: flex;
          justify-content: left;
          margin-top: 30px;
        }
         .form__button {
          margin-left: 30px;
          width: 250px;
          padding: 15px;
          padding-left: 20px;
          font-size: 15px;
          color: white;
          border-radius: 5px;
          background: #A60844;
        }
        .btn-sells a {
         text-decoration: none;
         letter-spacing: 2px;
         font-size: 15px;
         
        }
        
       /* Modal window */
       
        .modal-close {
        display: flex;
        justify-content: right;
        position: absolute;
        z-index: 2000;
        right:0;
        margin-right: 30px;
        margin-top: -10px;
        }
        .modal-close-img{
         width:25px;
         border-radius:50px;
        }
        .modal-s {
            display: none;
            width: 100%;
            height: 100%;
            background-color: #000000BD;
            position: fixed;
            top:0;
            left:0;
            z-index: 1000;
            padding: 20px 20px;
        }
        .show {
         display: flex;
        }
        
        .modal-dialog{
         width: 400px;
         height: 600px;
         max-width: 1600px;
         margin: auto;
         padding: 20px 20px;
         background-color: #4e36c8 ;
        }
        
        .modal{
         display: flex;
         position: fixed;
         z-index: 9999;
        }
        .form-block{
          display: inline-block;
         
        }
        .checkbox.error{
        box-shadow: 0 0 20px red;
        }
        .form__item::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: #0015FF96 url("downloadlogo.gif") center / 100px no-repeat;
         opacity: 0;
         visibility: hidden;
         transition: all 0.5s ease 0s;
        }
        .form__item._sending {
         opacity: 1;
         visibility: visible;
        }
        .form__input{
         outline: none;
        }
        .form__input.error {
         box-shadow: 0 0 20px red;
        }
        .error {
         box-shadow:0 0 20px red; 
        }
       .form__input:focus {
        box-shadow: 0 0 20px green;
       }
          .form__input{
            width: 300px;
            margin-left: 10px;
            margin-right: auto;
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 1rem;
            color: white;
            display: block;
            font-size: 15px;
            background: black
          }
                 .form-input-popup{
                 width: 300px;
                 margin-left: 10px;
                 margin-right: auto;
                 margin-bottom: 10px;
                 margin-top: 10px;
                 padding: 1rem;
                 color: white;
                 display: block;
                 font-size: 15px;
                 background: black;
                 border: none;
                 border-bottom: 2px;
                 }
    
    .form-textarea {
     height: 100px;
     width: 300px;
     margin-left: 10px;
     margin-right: auto;
     margin-bottom: 20px;
     margin-bottom: 10px;
     padding: 10px;
     color: white;
     font-size: 15px;
     background: black;
     border: none;
     border-bottom: 2px;
    }
   /* content about me */
   
   .about-section{
    height: 100%;
    
   }
   
   .about_me{
     padding-top: -30px;
     width: 100%;
     height: auto;
     margin-bottom: 10px;
     background: linear-gradient(#000112,#011F5C); /*171a23*/
     padding-bottom: 2rem;
     
   }

.about_me p {
  font-size: 2rem;
  color:  #C8D8F4;
  margin: 2rem;
  
}

.about_me h2{
  margin: 20px;
  font-size: 30px;
  color: white;
}

.img_about_me{
  box-shadow: 0px 0px 30px #003150;
  margin: 2rem;
  border: 2px;
  height: 270px;
  border-radius: 7px;
}

.reactlogo {
 
 margin-top: 70px;
 width: 150px;
 height: 150px;
}

.img-content{
 display: flex;
}